<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Aadhar No</th>
        <th>Account Type</th>
        <th>PAN</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.gender}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.aadharNo}"></td>
        <td th:text="${customer.accountType}"></td>
        <td th:text="${customer.pan}"></td>
    </tr>
    </tbody>
</table>
<a href="/register">Go Back to Registration</a>
</body>
</html>
